* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1200px;
  background-color: #3f444e;
}
body .header {
  height: 50px;
  line-height: 50px;
  background-color: skyblue;
  padding: 0 200px;
}
body .header div {
  float: left;
}
body .header .logo {
  width: 200px;
  background-color: red;
}
body .header .nav {
  width: 250px;
  background-color: pink;
}
body .header .nav li {
  float: left;
  list-style: none;
}
body .header .search {
  margin-left: 10px;
}
body .header .user {
  float: right;
}
body .main {
  padding: 0 200px;
}
body .main .watch:hover p {
  display: block;
}
body .main .watch {
  position: relative;
  width: 100%;
  height: 80%;
}
body .main .watch p {
  padding-left: 50px;
  display: none;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}
body .main .watch video {
  width: 100%;
}
